# **What is Python?**

Python is a popular programming language. It was created in 1991 by Guido van Rossum.

Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Pythonâ€™s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

# **Why Python?**

*       Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc)
*    Python has a simple syntax similar to the English language.
*    Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
*    Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.

*   Python can be treated in a procedural way, an object-orientated way or a functional way.

# **Python Syntax**

## **Python Indentation**

Python uses indentation to indicate a block of code. It throws an indentation error, if you don't follow it.

For example:

In [ ]:
if 9>3:
  print("Its True")

Wrong indentation gives you error

In [ ]:
if 9>3:
print("Its True")

## **Python Comments**

Python has a capability to make python codes more readable. It is with help of using `#` sign.

For example:

In [ ]:
#this is a python code
print("Hello There!")

## **Docstrings**

Docstrings are multiline comment to make code more readable. You can use docstring by typing your text in """your text"""

For example:

In [ ]:
"""
This is an example of multiline comment.
Also known as Docstrings.
"""

# **Variables**

Like some other programming language, Python does not require to declare their variables separtely. We can use the variables without declaration. Every variable in Python is object.

Few Rules to name variables:



*    A variable name must start with a letter or the underscore character.
* A variable name cannot start with a number.
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
* Variable names are case-sensitive (age, Age and AGE are three different variables).

For example:

In [ ]:
a = 2
print(a)

In [ ]:
b = "test"
print(b)

In [ ]:
variable_integer = 85
print(variable_integer)

In [ ]:
variable_string = "testing"
print(variable_string)

type() function to check the type of variables.

In [ ]:
print(type(a))
print(type(b))

In [ ]:
print(type(variable_integer))
print(type(variable_string))

# **Operators**

## **Arithmetic Operators**

* `+` : Addition
* `-` : Subtraction
* `*`: Multiplication 
* `/` : Divison
* `//`: Floor Divison
* `%` : Modulus
* `**`: Exponentiation

In [ ]:
#Addition
5+3

In [ ]:
#Subtraction
5-3

In [ ]:
#Multiplication
5*3

In [ ]:
#Divison
5/3

In [ ]:
#Floor Division
5//3

In [ ]:
#Modulus
5%3

In [ ]:
#exponentiation
5**3

## **Bitwise Operators**

* `&` : Bitwise AND
* `|` : Bitwise OR
* `^` : Bitwise XOR
* `>>` : Bitwise right shift
* `<<` : Bitwise left shift
* `~` : Bitwise NOT

In [ ]:
#Bitwise AND
# Sets each bit to 1 if both bits are 1.
#
# Example:
# 5 = 0b0101
# 3 = 0b0011
# 5 & 3 = 1 # 0b0001
5 & 3

In [ ]:
# Bitwise OR
# Sets each bit to 1 if one of two bits is 1.
#
# Example:
# 5 = 0b0101
# 3 = 0b0011
# 5 | 3 =  7  # 0b0111
5 | 3

In [ ]:
# Bitwise NOT
# Inverts all the bits
~5

In [ ]:

# XOR
# Sets each bit to 1 if only one of two bits is 1.
#
# Example:
# 5 = 0b0101
# 3 = 0b0011
number = 5  # 0b0101
number ^= 3  # 0b0011
print(5 ^ 3)  # 0b0110

In [ ]:
# Signed right shift
# Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost
# bits fall off.
#
# Example:
# 5 = 0b0101
print(5 >> 1)  # 0b0010
print(5 >> 2)  # 0b0001

In [ ]:
# Zero fill left shift
# Shift left by pushing zeros in from the right and let the leftmost bits fall off.
#
# Example:
# 5 = 0b0101
print(5 << 1)  # 0b1010
print(5 << 2) # 0b10100

## **Assignment Operator**

`=, +=, -=, /=, //=`

In [ ]:
#simple assignment
n = 5

In [ ]:
# Assignment: +=
number = 5
number += 3
number

In [ ]:
# Assignment: -=
number = 5
number -= 3
number

In [ ]:
# Assignment: *=
number = 5
number *= 3
number

In [ ]:

# Assignment: /=
number = 8
number /= 4
number

In [ ]:
# Assignment: %=
number = 8
number %= 3
number

In [ ]:
# Assignment: %=
number = 5
number %= 3
number

In [ ]:
# Assignment: //=
number = 5
number //= 3
number

In [ ]:
# Assignment: **=
number = 5
number **= 3
number

In [ ]:
# Assignment: &=
number = 5  # 0b0101
number &= 3  # 0b0011
number  # 0b0001

In [ ]:
# Assignment: |=
number = 5  # 0b0101
number |= 3  # 0b0011
number # 0b0111

In [ ]:
# Assignment: ^=
number = 5  # 0b0101
number ^= 3  # 0b0011
number # 0b0110

In [ ]:
# Assignment: >>=
number = 5
number >>= 3
number # (((5 // 2) // 2) // 2)

In [ ]:
# Assignment: <<=
number = 5
number <<= 3
number # 5 * 2 * 2 * 2

## **Comparison Operators**

* `==` : Equal
* `!=` : Not Equal
* `>` : Greater than
* `<` :  Less than
* `>=` :  Greater than or equal to
* `<=` : less than or equal to

In [ ]:
#Suppose we take two numbers
n1 = 5
n2 = 17

In [ ]:
#Equal
#returns bool value False because n1 is not equal to n2
print(n1==n2)

In [ ]:
#Not Equal to
print(n1!=n2) #return true bool value

In [ ]:
#greater than
print(n1>n2) #return false because n1 = 5 and n2 = 17 then 5 > 17 is False

In [ ]:
#less than
print(n1<n2) #return true because n1 = 5 and n2 = 17 then 5 < 17 is True

In [ ]:
#greater than or equal to 
n1 = 5 
n2 = 5
print(n1>=n2) #Return True

In [ ]:
#less than or equal to 
n1 = 5 
n2 = 5
print(n1<=n2) #Return True

## **Logical Operators**

* `and` : Returns True if both statements are true 	
* `or` : Returns True if one of the statements is true 	
* `not` : Reverse the result, returns False if the result is true

In [ ]:
# Let's work with these number to illustrate logic operators.
n1 = 5
n2 = 10

In [ ]:
# and
# Returns True if both statements are true.
print(n1 > 0 and n2 < 15)

In [ ]:
# or
# Returns True if one of the statements is true
print(n1 > 6 and n2 < 15)

In [ ]:
# not
# Reverse the result, returns False if the result is true.
# pylint: disable=unneeded-not
print( not n1 == n2)
print(n1 != n2)

## **Identity Operators**

* `is` : Returns True if both variables are the same object
* `is not` : Returns True if both variables are not the same object

In [ ]:
# is
# Returns true if both variables are the same object.

# Example:
# a and b are the same objects.

a = 2
b = 2

print(a is b)

a = 2
b = "2"

print(a is b)

In [ ]:
# is not
# Returns true if both variables are not the same object.

# Example:
# a and b are not the same objects, even if they have
# the same content

a = 2
b = 2

print( a is not b )


a = 2 
b = "2"

print(a is not b)

## **Membership Operators**

* `in` : Returns True if a sequence with the specified value is present in the object
* `not in` : Returns True if a sequence with the specified value is not present in the object

In [ ]:
    # Let's use the following string to illustrate membership concept.
a = "testing string"

In [ ]:
# in
# Returns True if a sequence with the specified value is present in the object.

# Returns True because a sequence with the value "string" is in the list
print("string" in a)

In [ ]:
# not in
# Returns True if a sequence with the specified value is not present in the object

# Returns True because a sequence with the value "pineapple" is not in the list.
print("python" not in a)