## In this practice session, we will be implementing Z-Test and T-Test using python

## Import Dataset

In [ ]:
!python -m pip install pip --upgrade --user -q
!python -m pip install numpy pandas seaborn matplotlib scipy statsmodels sklearn --user -q

In [ ]:
import IPython
IPython.Application.instance().kernel.do_shutdown(True)

In [1]:
#Importing Train Dataset
import pandas as pd
df = pd.read_csv("ztest.csv")
df.head()

   Unnamed: 0  patient   sex agegrp  bp_before  bp_after
0         NaN        1  Male  30-45        143       153
1         NaN        2  Male  30-45        163       170
2         NaN        3  Male  30-45        153       168
3         NaN        4  Male  30-45        153       142
4         NaN        5  Male  30-45        146       141

## **Z Test**

In [2]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests
ztest ,pval = stests.ztest(df['bp_before'], x2=None, value=156)
print(float(pval))
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.6651614730255063
accept null hypothesis

In [3]:
ztest ,pval1 = stests.ztest(df['bp_before'], x2=df['bp_after'], value=0,alternative='two-sided')

print(float(pval1))

if pval1<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.002162306611369422
reject null hypothesis

## **T Test**

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats # some useful stuff
wine_data = pd.read_csv("winemag-data_first150k.csv")

In [8]:
x = wine_data['points']
mu = x.mean()
sigma = x.std(ddof=0)
print("mu: ", mu, ", sigma:", sigma)

mu:  87.8884184721394 , sigma: 3.222381083845416

In [9]:
x = np.random.normal(loc=9.2,scale=1.5,size=30).round(1)
print(x)

[ 9.2 10.6  8.5  9.4  9.7  7.9  7.4  8.9  8.  10.2  8.1 10.2  9.4 10.1
  8.9  9.4  7.7  9.   7.2  8.1  7.3  8.5  9.9 10.4 10.4  6.3 11.2  7.9
  7.8  6.2]

## One Sample T-Test

   * Calculate the T-test for the mean of ONE group of scores.

In [12]:

x = [8.8, 6.6, 9.5, 11.2, 10.2, 7.4, 8.0, 9.6, 9.9, 9.0,
     7.6, 7.4, 10.4, 11.1, 8.5, 10.0, 11.6, 10.7, 10.3, 7.0]
mu = 10
t_critical = 2.093
x_bar = np.array(x).mean()
s = np.array(x).std(ddof=1) # subtract 1 from N to get unbiased estimate of sample standard deviation
N = len(x)
SE = s/np.sqrt(N)
t = (x_bar - mu)/SE
print("t-statistic: ",t)

# a one sample t-test that gives you the p-value too can be done with scipy as follows:
t, p = stats.ttest_1samp(x, mu)
print("t = ", t, ", p = ", p)
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

t-statistic:  -2.2491611580763977
t =  -2.2491611580763973 , p =  0.03655562279112415
reject null hypothesis

## Two Sample T-Test

  * Calculate the T-test for the means of *two independent* samples of scores

In [10]:
# sample up wind
x1 = [10.8, 10.0, 8.2, 9.9, 11.6, 10.1, 11.3, 10.3, 10.7, 9.7, 
      7.8, 9.6, 9.7, 11.6, 10.3, 9.8, 12.3, 11.0, 10.4, 10.4]

# sample down wind
x2 = [7.8, 7.5, 9.5, 11.7, 8.1, 8.8, 8.8, 7.7, 9.7, 7.0, 
      9.0, 9.7, 11.3, 8.7, 8.8, 10.9, 10.3, 9.6, 8.4, 6.6,
      7.2, 7.6, 11.5, 6.6, 8.6, 10.5, 8.4, 8.5, 10.2, 9.2]

# equal sample size and assume equal population variance
t_critical = 1.677
X1 = len(x1)
X2 = len(x2)
t1 = X1-1
t2 = X2-1
df = t1+t2
s1 = np.std(x1,ddof=1)
s2 = np.std(x2,ddof=1)
x1_bar = np.mean(x1)
x2_bar = np.mean(x2)

sp = np.sqrt((t1*s1**2 + t2*s2**2)/df)
se = sp*np.sqrt(1/X1 + 1/X2)
t = (x2_bar - x1_bar)/(se)
print("t-statistic", t)

# a two-sample independent t-test is done with scipy as follows
# NOTE: the p-value given is two-sided so the one-sided p value would be p/2
t, p_twosided = stats.ttest_ind(x2, x1, equal_var=True)

print("t = ",t, ", p_twosided = ", p_twosided, ", p_onesided =", p_twosided/2)

t-statistic -3.5981947686898033
t =  -3.5981947686898033 , p_twosided =  0.0007560337478801464 , p_onesided = 0.0003780168739400732

In [11]:
import pandas as pd
from scipy import stats
df = pd.read_csv("ztest.csv")
df[['bp_before','bp_after']].describe()
ttest,pval = stats.ttest_rel(df['bp_before'], df['bp_after'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.0011297914644840823
reject null hypothesis